body {
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

#wrap {
    width: 80%;
    margin: 0 auto;
}

header, nav, section, footer {
    padding: 2%;
    background-color: #fff;
}

header, footer {
    background-color: #0EC8C7;
    text-align: center;
    color: white;
    font-family: Georgia, serif;
}

nav {
    background-color: #0EC8C7;
    text-align: center;
    font-size: x-large;
    padding: 17px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

footer li {
    display: inline;
    padding: 3%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}

nav a:hover {
    background-color: #900
}

aside {
    background-color: #EC3632;
    width: 25%;
    float: left;
    text-decoration: none;
}

aside li {
    list-style-type: none;
    text-decoration-color: none;
    padding: 10%;
}

article {
    background-color: white;
    width: 69%;
    float: right;
    padding: 1% 3%;
}

section {
    overflow: auto;
    padding: 0;
    background-color: white;
}

.cupcakes {
    float: right;
    width: 50%;
    margin: 0 0 3% 3%;
}
    
footer {
    text-decoration-color: white;
}

.header-img {
    width: 100%
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    nav {
        font-size: smaller;
    }
    body{
        background-color: coral;
    }
}

@media screen and (max-width:800px) {
    nav, aside {
    padding: 0;
}
    
    #wrap {
        width: 100%;
    }
    
    body {
        background-color: white;
    }
    
    article, aside {
        float: none;
        width: 96%;
        margin: 0;
        padding: 0;
    }
    
    nav a, aside a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    
    aside a {
    text-decoration: none;
    padding: 15px 0;
    font-size: larger;
}
    
    nav ul, nav li, aside ul, aside li {
        margin: 0;
        padding: 0;
    }
    
    .cupcakes {
        width: 96%;
        float: none;
        margin: 0;
    }
    
.header-img {
    width: 100%;
}
    
    
    
    
    
    
    
    
    
    
